<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.quarck.calnotify"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.QUICKBOOT_POWERON" /> <!-- For HTC -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:requestLegacyExternalStorage="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_new"
        android:label="@string/app_label"
        android:taskAffinity="com.github.quarck.calnotify.task"
        android:requiredAccountType="*"
        android:usesCleartextTraffic="false"
        android:theme="@style/CalendarAppTheme">

        <activity
            android:name="com.github.quarck.calnotify.ui.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/CalendarTheme.WithoutActionBar"
            android:label="@string/main_activity_title"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_CALENDAR" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="time/epoch" />
                <data android:host="com.android.calendar" />
                <data android:scheme="content"/>
            </intent-filter>
        </activity>

        <activity-alias android:name="com.android.calendar.LaunchActivity"
            android:exported="true"
            android:targetActivity="com.github.quarck.calnotify.ui.MainActivity">
        </activity-alias>

        <receiver android:name="com.github.quarck.calnotify.broadcastreceivers.AppUpdatedBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.github.quarck.calnotify.broadcastreceivers.BootCompleteBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" /><!-- Well, HTC -->
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" /><!-- Well, OLD HTC -->
                <action android:name="android.intent.action.REBOOT" /><!-- Well, MIUI -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.github.quarck.calnotify.ui.NotificationsLogActivity"
            android:label="@string/notification_log"
            android:parentActivityName="com.github.quarck.calnotify.ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.github.quarck.calnotify.ui.UpcomingNotificationsActivity"
            android:label="@string/upcoming_events"
            android:parentActivityName="com.github.quarck.calnotify.ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.github.quarck.calnotify.ui.ViewEventActivity"
            android:label=""
            android:parentActivityName="com.github.quarck.calnotify.ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >

            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.quarck.calnotify.ui.MainActivity" />
        </activity>

        <activity
            android:name="com.github.quarck.calnotify.ui.ViewEventActivityUpcoming"
            android:label=""
            android:launchMode="singleTask"
            android:parentActivityName="com.github.quarck.calnotify.ui.UpcomingNotificationsActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.github.quarck.calnotify.ui.ViewEventActivityLog"
            android:label=""
            android:launchMode="singleTask"
            android:parentActivityName="com.github.quarck.calnotify.ui.NotificationsLogActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.github.quarck.calnotify.ui.SnoozeAllActivity"
            android:label="@string/snooze_all"
            android:parentActivityName="com.github.quarck.calnotify.ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />



        <activity
            android:name="com.github.quarck.calnotify.ui.PrivacyPolicyActivity"
            android:label="@string/title_activity_privacy_policy"
            android:parentActivityName="com.github.quarck.calnotify.ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.github.quarck.calnotify.ui.AboutActivity"
            android:label="@string/about_activity"
            android:parentActivityName="com.github.quarck.calnotify.ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name="com.github.quarck.calnotify.calendarmonitor.CalendarMonitorIntentService" />
        <service
            android:name="com.github.quarck.calnotify.calendarmonitor.CalendarMonitorOneTimeJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name="com.github.quarck.calnotify.calendarmonitor.CalendarMonitorPeriodicJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name="com.github.quarck.calnotify.notification.NotificationActionMarkDoneService" />

        <receiver android:name="com.github.quarck.calnotify.broadcastreceivers.EventReminderBroadcastReceiver">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.EVENT_REMINDER" />

                <data android:mimeType="vnd.android.cursor.item/calendar-alert" />
            </intent-filter>
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.EVENTEX_REMINDER" />

                <data android:mimeType="vnd.android.cursor.item/calendarEx-alert" />
            </intent-filter>
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.EVENT_REMINDER" />

                <data android:scheme="content" />
            </intent-filter>
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.EVENT_REMINDER" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/calendar_alert_time" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.github.quarck.calnotify.broadcastreceivers.CalendarChangedBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PROVIDER_CHANGED" />

                <data android:scheme="content" />
                <data android:host="com.android.calendar" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.github.quarck.calnotify.broadcastreceivers.SnoozeAlarmBroadcastReceiver" />
        <receiver android:name="com.github.quarck.calnotify.broadcastreceivers.ReminderAlarmBroadcastReceiver" />
        <receiver android:name="com.github.quarck.calnotify.broadcastreceivers.ManualEventAlarmBroadcastReceiver" />
        <receiver android:name="com.github.quarck.calnotify.broadcastreceivers.SnoozeExactAlarmBroadcastReceiver" />
        <receiver android:name="com.github.quarck.calnotify.broadcastreceivers.ReminderExactAlarmBroadcastReceiver" />
        <receiver android:name="com.github.quarck.calnotify.broadcastreceivers.ManualEventExactAlarmBroadcastReceiver" />

        <receiver android:name="com.github.quarck.calnotify.broadcastreceivers.TimeSetBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>

    </application>
</manifest>

